/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .vibe--first {
    transform: rotate(-5deg) translate(-55%, 30%);
  }

  .vibe--second {
    transform: rotate(-130deg) translate(-10%, 0%);
  }

  .feature-img {
    width: 70%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .grid-cols--2 {
    gap: 6.2rem;
  }

  .hero-heading {
    font-size: 8.6rem;
  }

  .feature-img {
    width: 90%;
  }

  .vibe--first {
    display: none;
  }

  .vibe--second {
    display: none;
  }

  .headphone-layer--second {
    width: 70%;
    transform: translate(-40%, 0%);
  }

  .products-box {
    gap: 3.2rem;
  }

  .product-rate-box img {
    width: 60%;
  }

  .container-package {
    grid-template-columns: 55fr 45fr;
  }

  .cta-form {
    width: 70%;
  }
}

/**************************/
/* BELOW 784px (Smaller tablets) */
/**************************/

@media (max-width: 49em) {
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .hero-price--first {
    font-size: 4.4rem;
  }

  .hero-price--second {
    font-size: 3rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 2.4rem;
  }

  .grid-cols--2 {
    grid-template-columns: 1fr;
  }

  .container-package {
    grid-template-columns: 1fr;
  }
  
  .header {
    padding: 1.6rem 3.2rem;
  }
  
  .headphone-latest--first,
  .headphone-latest--third {
    display: none;
  } 
  
  .headphone-latest--second {
    transform: scale(1);
    width: 90%;
  }
  
  .features-img-box {
    grid-row: 1;
    justify-content: center;
  }

  .feature-img {
    width: 60%;
  }
  
  .headphone-layer--second {
    width: 40%;
  }
  
  .products-box {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 12.8rem;
  }
  
  .product {
    width: 60%;
  }

  .purchase-btn {
    width: calc(10rem - 6px);
    height: calc(10rem - 6px);
  }

  .package-img-box {
    text-align: center;
  }

  .package-img {
    width: 70%;
  }

  .package-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer {
    padding: 0 3.2rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .cta-form {
    width: 100%;
    padding: 2.4rem 4.8rem;
  }

  .hero-img {
    width: 80%;
  }
  
  .product {
    width: 70%;
  }

  .products-box {
    margin-top: 12.8rem;
  }

  .package-img {
    width: 90%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {

  .hero-img {
    width: 100%;
  }

  .headphone-latest--second {
    width: 100%;
  }

  .container-footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer-nav {
    display: none;
  }
}

/**************************/
/* BELOW 400px (Phones) */
/**************************/

@media (max-width: 25em) {
  .nav-service-box {
    display: none;
  }

  .hero-heading {
    font-size: 7.4rem;
    letter-spacing: -2px;
  }

  .latest-headphones {
    padding: 0 1.6rem;
  }

  .feature-img {
    width: 80%;
  }

  .headphone-layer--second {
    width: 80%;
  }

  .product {
    width: 80%;
  }

  .package-img {
    width: 100%;
  }

  .container-cta {
    padding: 0 1.6rem;
  }

  .cta-form {
    padding: 1.8rem 2.4rem;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  .cta-input {
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
  }

  .cta-btn {
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
