/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ////////////////////// */
/* //// Hero Section //// */
/* ////////////////////// */

.section-hero {
  color: #fff;
  background-image: linear-gradient(46deg, #ff9292 0%, #de5150 100%);
  padding: 9.6rem 0;
  padding-top: 12.8rem;
}

.container-hero {
  align-items: center;
}

.hero-heading {
  margin-top: 0.4rem;
  font-size: 9.8rem;
  font-weight: 700;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  color: #ff4948;
  background-color: #fff;
  margin-top: 3.2rem;
}

.hero-price-box {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-top: 3.2rem;
}

.vertical-bar {
  height: 4.8rem;
  width: 2px;
  background-color: #fff;
}

.hero-price--first {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero-price--second {
  opacity: 70%;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: line-through;
}

.hero-img {
  width: 100%;
}

.hero-img-box {
  position: relative;
}

.hero-nota {
  opacity: 10%;
  z-index: 1;
  position: absolute;
}

.nota-first {
  top: 25%;
  left: -25%;
}

.nota-second {
  top: 50%;
  left: -5%;
  transform: scale(0.7);
}

.nota-third {
  top: 90%;
  left: -20%;
  transform: scale(0.5);
}

.nota-forth {
  top: 30%;
  right: -10%;
  transform: scale(0.8);
}

.nota-fifth {
  top: 95%;
  right: 10%;
  transform: scale(0.7);
}

.nota-sixth {
  top: 0%;
  left: 10%;
}

.nota-seventh {
  top: 90%;
  left: 10%;
}

.nota-eighth {
  top: 0%;
  right: 10%;
  transform: scale(0.7);
}

.nota-ninth {
  top: 80%;
  right: 0%;
}

.headphone-hero-layer {
  position: absolute;
  top: 0;
  left: -40%;
}
/* NAVIGATION */

.header {
  padding: 1.6rem 9.6rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-service-box {
  display: flex;
  gap: 3.2rem;
}

.search-box,
.purchase-box,
.user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  background-color: #fff;
}

.vertical-bar-nav {
  height: 4.4rem;
  width: 2px;
  background-color: #fff;
  opacity: 50%;
}

.burger-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  gap: 0.6rem;
  background-color: transparent;
  padding: 0.4rem;
}

.burger-item {
  border-radius: 1000px;
  background-color: #fff;
  height: 3px;
  transition: all 0.8s;
}

.burger-item--first,
.burger-item--third {
  width: 4rem;
  z-index: 1;
}

.burger-item--second,
.burger-item--forth {
  width: 3rem;
  z-index: 1;
}

.navigation-links-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  height: 0;
  width:  0;
  backdrop-filter: blur(5px);
  transition: all 0.8s;
  overflow: hidden;
  z-index: 10;
}

.active-burger .navigation-links-box {
  height: calc(250vw);
  width: calc(250vw);
}

.active-burger.burger-button {
  box-shadow: none;
}

.active-burger .burger-item--first {
  transform: rotate(-45deg) translate(-0.75rem, 1.2rem);
  background-color: #de5150;
}

.active-burger .burger-item--third {
  transform: rotate(45deg)  translate(0, -0.6rem);
  background-color: #de5150;
}

.active-burger .burger-item--second {
  transform: translateX(-100%);
  background-color: #de5150;
  opacity: 0;
}

.active-burger .burger-item--forth {
  transform: translateX(100%);
  background-color: #de5150;
  opacity: 0;
}

.navigation-links { 
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 500;
  list-style: none;
  transition: all 1s;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.navigation-links li {
  padding: 2.2rem;
  text-align: center;
}

.navigation-links li:not(:last-child) {
  border-bottom: 2px solid #de5150;
}

.navigation-links a {
  color: #de5150;
  text-decoration: none;
}

.active-navigation.navigation-links {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.active-navigation a:focus {
  box-shadow: 0 0 2px 10px rgba(222, 80, 80, 0.5);
}

.sticky.header {
  position: fixed;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-image: linear-gradient(46deg, #ff9292 0%, #de5150 100%);
  /* background-color: #de5150; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.logo-img {
  border-radius: 50%;
}

/* //////////////////////// */
/* //// Latest Section //// */
/* //////////////////////// */

.section-latest {
  padding: 9.6rem 0;
}

.latest-headphones {
  margin-top: 12.8rem;
  padding: 0 6.4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.headphone-latest {
  width: 100%;
}

.headphone-latest--first,
.headphone-latest--third {
  border: 1px solid rgba(125, 117, 117, 0.3);
  border-radius: 30px;
}

.headphone-latest--second {
  border-radius: 30px;
  transform: scale(1.4);
  box-shadow: 0px 21px 88px rgba(126, 118, 118, 0.2);
}

.left-arrow-latest,
.right-arrow-latest {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.left-arrow-latest {
  left: 0;
  transform: translate(-50%, -50%);
}

.right-arrow-latest {
  right: 0;
  transform: translate(50%, -50%);
}

/* ////////////////////////// */
/* //// Features Section //// */
/* ////////////////////////// */

.section-features {
  padding: 9.6rem 0;
}

.container-features {
  justify-items: center;
}

.features-headphone-content {
  padding-right: 4.8rem;
}

.features-headphone-box {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.feature-headphone {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.features-img-box {
  position: relative;
  display: flex;
  align-items: center;
}

.outer-box {
  height: 9.2rem;
  width: 9.2rem;
  border-radius: 50%;
  background-color: rgba(246, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-box {
  height: 6.6rem;
  width: 6.6rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fdd8d8;
  box-shadow: 0 0 0 0.8rem #fff;
}

.ellipse {
  position: absolute;
  bottom: -2px;
  width: 101%;
}

.feature-name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.feature-description {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  opacity: 66%;
}

.feature-learn-more:link,
.feature-learn-more:visited {
  color: #ff4948;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}

.feature-learn-more:focus {
  border-radius: 5px;
  box-shadow: 0 0 2px 5px rgba(255, 72, 72, 0.5);
}

.feature-img {
  width: 60%;
}

.vibe--first {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-5deg) translate(-55%, 10%);
}

.vibe--second {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(1.3) rotate(-130deg) translate(20%, -10%);
}

.headphone-layer--second {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-30%);
  z-index: -1;
  width: 60%;
}

/* ///////////////////////// */
/* //// Product Section //// */
/* ///////////////////////// */

.section-products {
  padding: 9.6rem 0;
}

.products-description {
  font-size: 1.6rem;
  margin-top: 2.5rem;
  opacity: 66%;
  line-height: 1.5;
}

.products-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6.4rem;
  margin-top: 9.6rem;
}

.product-img-box {
  border-radius: 30px;
  position: relative;
  text-align: center;
}

.product-img-box--first {
  background-color: #ffe5ee;
}

.product-img-box--second {
  background-color: #e5f1ff;
}

.product-img-box--third {
  background-color: #d3f9d8;
}

.product-img {
  width: 100%;
}

.product-img--first {
  transform: scaleX(-1) scale(1.4) translateY(-6%);
}

.product-img--second {
  width: 75%;
  transform: scaleX(-1) scale(1.1) translateY(-10%);
}

.product-img--third {
  transform: scale(1.1) translateY(-10%);
}

.purchase-btn {
  border: none;
  width: calc(8rem - 6px);
  height: calc(8rem - 6px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: inherit;
  border: 6px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.purchase-btn--first:focus {
  box-shadow: 0 0 2px 10px rgba(255, 229, 238, 0.5);
}

.purchase-btn--second:focus {
  box-shadow: 0 0 2px 10px rgba(229, 241, 255, 0.5);
}

.purchase-btn--third:focus {
  box-shadow: 0 0 2px 10px rgba(211, 249, 216, 0.5);
}

.product-content {
  margin-top: 3.2rem;
}

.product-rate-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-rate-number {
  font-size: 1.6rem;
  font-weight: 500;
}

.product-price-box {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-size: 2rem;
}

.product-price {
  font-size: 2.4rem;
  font-weight: 500;
}

/* ///////////////////////// */
/* //// Package Section //// */
/* ///////////////////////// */

.section-package {
  padding: 9.6rem 0;
}

.container-package {
  align-items: center;
  grid-template-columns: 3fr 2fr;
  gap: 6.4rem;
}

.package-list {
  width: 80%;
  margin-top: 4.8rem;
  list-style: none;
}

.package-item {
  padding: 2rem;
  display: flex;
  gap: 1.6rem;
}

.package-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.package-name {
  font-size: 2rem;
  opacity: 70%;
}

.package-img {
  width: 100%;
}

/* ///////////////////// */
/* //// CTA Section //// */
/* ///////////////////// */

.section-cta {
  padding-bottom: 9.6rem;
}

.container-cta {
  display: flex;
  justify-content: center;
  position: relative;
}

.subscribe-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.cta-form {
  width: 60%;
  padding: 4.8rem 9.6rem;
  background-color: #fff4f4;
  border-radius: 20px;
}

.cta-description {
  font-size: 1.6rem;
  opacity: 70%;
  margin-top: 0.8rem;
}

.cta-input-box {
  margin-top: 3.2rem;
  position: relative;
}

.cta-input {
  font-family: inherit;
  color: inherit;
  font-size: 1.8rem;
  padding: 1.6rem 3rem;
  border-radius: 1000px;
  width: 100%;
  background-color: #fff;
  border: none;
}

.cta-input::placeholder {
  color: inherit;
  opacity: 30%;
}

.cta-btn {
  font-family: inherit;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 3rem;
  border-radius: 1000px;
  background-color: #ff4948;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.cta-btn:focus {
  box-shadow: 0 0 2px 10px rgba(255, 72, 72, 0.5);
}

/* //////////////////////// */
/* //// Footer Section //// */
/* //////////////////////// */

.footer {
  margin-top: 4.8rem;
  padding: 0 9.6rem;
  background-color: #e86564;
}

.footer *:focus {
  box-shadow: 0 0 2px 10px rgba(255, 255, 255, 0.5);
}

.container-footer {
  padding: 3.2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  border-radius: 50%;
}

.footer-nav {
  justify-self: center;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-item {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
}

.footer-item:hover {
  border-color: currentColor;
}

.social-links {
  justify-self: end;
  display: flex;
  gap: 2.4rem;
}

.social-links a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: #fff;
}

.social-links a:hover {
  transform: translateY(-8px);
}
